/*----------Default HTML Style----------*/
body {
    background-image: url("assets/images/cork-wallet.png") repeat 0 0;
}

header {
    height: 96px;
    border-bottom: 2px #cccccc solid;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
    width: 960px;
    height: 300px;
    margin: auto;
}

section {
    background: #ddd;
    width: 560px;
    height: 300px;
    float: left;
}

aside {
    background: #ddd;
    width: 380px;
    height: 300px;
    float: right;
}

/*----------Class style----------*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 0 10px 0 10px;
    height: 96px;
    font-size: 20px;
    float: right;
    color: #cccccc;
}

.button:hover {
    background: #eeeeee;
}
/*-----------ID Style----------*/
#headerContent {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: auto;
    width: 960px;
    height: 96px;
}
#headerName {
    float:left;
    height: 96px;
    width: 320px;
    font-size: 36px;
    background:#4aaaa5;
    color: white;
}

#contact, #portfolio, #about {
}

#separator {
    padding: 0;
}

#footer {
    margin-top: 20px;
}
